.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $medium-size;
}

.header-container img {
  display: none;
  width: $extra-large-size * 2;
}

.header-link-items {
  display: flex;
  flex-wrap: wrap;
}

.header-link-items a {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0 $medium-size;
  border-bottom: $small-size transparent solid;
}

.header-link-items a:active,
.header-link-items a:hover {
  border-bottom: $small-size black solid;
}

@media (min-width: 30rem) {
  .header-container img {
    display: block;
  }
} ;
